html,
body
{
  font: 13px Arial, Verdana, Tahoma, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 600px;
  overflow: hidden;
}
input[type=submit],
button
{
  cursor: pointer;
}
textarea[readonly]:focus
{
  outline: 0;  
}
.announcement
{
  position: fixed;
  padding: 2px;  
  font-size: 15px;
  z-index: 1000;
}
alert
{
  display: none;
}
.loading
{
  float: right;
  margin-top: 3px;
  background: white;
  height: 30px;
}
.loading span
{
  height: 30px;
  line-height: 30px;
  vertical-align: central;
  padding: 5px;
}
.loading img
{
  padding: 5px;
  float: left;
  height: 20px;
}
.adm-topheader
{  
  background: white;
  line-height: 35px;
  border-bottom: 2px rgb(130,130,130) double;
  height: 35px;
  padding-left: 8px;
  padding-right: 8px;
}
.adm-topheader > input
{
  margin-top: 8px;    
}

.adm-topheader-pagecaption
{
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.adm-bt-logout
{
  float: right;
}
.adm-appbody
{  
  overflow: auto;
  height: calc(100vh - 36px);    
}
.adm-bodytable
{
  display: table;
  min-height: 435px; 
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;  
}
.adm-bodytable > div
{
  vertical-align:top;
  display: table-cell;  
}
.adm-leftpanel
{  
  /*width: 250px;*/
  width: 300px;
  min-width: 300px;
  border-right: 2px double rgb(130,130,130);
  /*
  -webkit-box-shadow: 4px 0px 5px -3px rgb(100,100,100);
     -moz-box-shadow: 4px 0px 5px -3px rgb(100,100,100);
          box-shadow: 4px 0px 5px -3px rgb(100,100,100);
  */
  
}

.adm-leftpanel .adm-leftpanel-intable
{
  display: table;
  width: 100%;
  height: 100%;
}
.adm-leftpanel .adm-calendarframe,
.adm-leftpanel .adm-dayevents-frame
{
  display: table-cell;
}
.adm-leftpanel .adm-calendarframe
{
  font-size: 15px;
  margin-bottom: 20px;
}
.adm-leftpanel .adm-calendarframe .ui-datepicker
{  
  width: 100%;
}
.adm-leftpanel .adm-dayevents-frame
{
  padding-top: 10px;
  /*border: 1px red solid;*/
  height: 100%;
}
.adm-leftpanel .adm-dayevents-frame .adm-dayevents-caption
{
  text-align: center;
  padding-left: 5px;  
  font-size: 15px;
  font-weight: bold; 
  /*line-height: 25px;*/
}
.adm-dayevents-caption .adm-dayevents-newbt
{
  float: right;
  margin-right: 5px; 
  cursor: pointer;
}
.adm-dayevents-caption .adm-dayevents-newbt > img
{
  height: 25px;
}
.adm-leftpanel .adm-dayevents-frame .adm-dayevents-tools
{
  margin-top: 5px;
  padding-left: 5px;  
  padding-right: 5px;  
}
.removetimebt,
.addtimebt,
.adm-leftpanel .adm-dayevents-frame .adm-dayevents-tools > div
{
  padding-left: 5px;  
  padding-right: 5px;  
  height: 19px;
  line-height: 19px;
  background: white; 
  border: 1px rgb(150,150,150) solid;
  cursor: pointer;
  display: block;
  text-align: center;
  float: left;  
  border-bottom: none;
  margin: 0;
  margin-right: 3px;
}
.registration:not(.noclose) .header:hover,
.registration:not(.noclose) .header.selhover,
.conndetail-actions .conndetail-actions-action:hover,
.removetimebt:hover,
.addtimebt:hover,
.adm-leftpanel .adm-dayevents-frame .adm-dayevents-tools > div:hover,
.adm-dayevents-view > .event:hover,
.adm-dayevents-view > .event.selhover,
.ui-datepicker table td:not(.ui-datepicker-unselectable):hover,
.search-textbox img:hover
{
  background: rgba(220,250,255,1);  
}
.adm-content .adm-day-header
{
  background-color: rgba(70,160,255,1);
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  color: white;
  display: table;
}
.adm-content .adm-day-header .action_bt
{
  height: 100%;
  background: transparent;
  margin: 0;
  border: none;
  border-right: 2px solid rgba(255,255,255,0.5);
}
.adm-content .adm-day-header .action_bt:hover
{
  background: rgba(220,250,255,0.5);
}
.adm-content .adm-day-header .action_bt:hover > div
{
  color: rgb(255,255,100);
}
.adm-content .adm-day-header .action_bt > div
{
  height: 18px; 
  line-height: 18px;
  color: white;
  font-weight: bold;
  border: none;  
}
.adm-content .adm-day-header .action_bt .imgconn
{
  padding-right: 0;
}
.adm-content .adm-day-header .action_bt img
{
  height: 15px;
  padding-top: 4px;
  filter: invert(100%);
}
.adm-calend div
{
  display: inline-block;
  font-size: 13px;
  line-height: 12px;
  height: 20px;
  vertical-align: top;;
  margin-top: 2px;
}
.adm-calend > .legend > .icon
{
  margin-top: 3px;
  margin-left: 5px;
  height: 12px;
  width: 17px;
}
.adm-dayevents-view
{ 
  height: calc(100% - 42px);
  width: 100%;
  background: rgb(240,240,240);
  overflow-y: auto;
  border-top: 1px solid rgb(130,130,130);  
  /*
  border: 1px black solid;
  -webkit-box-shadow: 0 4px 7px -3px rgb(100,100,100) inset;
     -moz-box-shadow: 0 4px 7px -3px rgb(100,100,100) inset;
          box-shadow: 0 4px 7px -3px rgb(100,100,100) inset;
  */
}
.adm-dayevents-view > .event
{  
  border-bottom: 1px solid rgb(130,130,130);
  background: white;
  padding: 5px;
  width: auto;  
  cursor: pointer;
  /*
  -webkit-box-shadow: 0 1px 2px 0px rgb(100,100,100);
     -moz-box-shadow: 0 1px 2px 0px rgb(100,100,100);
          box-shadow: 0 1px 2px 0px rgb(100,100,100);
  margin: 5px;
  border-radius: 5px;
  border: 1px black solid;
  */
}
.newtag
{
  float: right;
  position: relative;
  background: rgb(245,245,100);
  padding: 3px;
  border: 1px solid rgb(180,180,180);
  border-radius: 5px;
}
.adm-newregconn-conn .new_registration,
.adm-dayevents-view > .event:last-child
{
  -webkit-box-shadow: 0 1px 2px 0px rgb(100,100,100);
     -moz-box-shadow: 0 1px 2px 0px rgb(100,100,100);
          box-shadow: 0 1px 2px 0px rgb(100,100,100);
}
.adm-dayevents-view .adm-dayevents-view-nodata
{
  width: 100%;
  font-size: 18px;      
  /*border: 1px red solid;*/
  color: rgb(150,150,150);  
  padding-top: 2px;
  color: rgb(200,200,200);
  display: block;
  text-align: center;
  margin-top: 10px;
}
.timeinput
{
  border: 1px solid #b4b4b4;
  padding: 2px;
  padding-left: 3px;  
  display: inline-block;
  background: white;
  height: 24px;
}
.conndetail .timeinput > input[type=text]
{
  height: 100%;
  vertical-align: top;
  padding: 0;
  margin: 0;  
  border: none;
  width: 37px;
}
.timeinput input[type=text]:focus
{
  outline: 0;
}
.seltimebt
{
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 0;  
}
.seltimebt img
{
  height: 16px;
  margin: 0;
  padding: 0;
}
.conndetail
{
  background: white;  
  border-bottom: 1px black solid;
}
.conndetail table
{
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}
.conndetail table td:first-child
{
  width: 100px;
}
.conndetail table td:last-child
{
  padding-right: 5px;
}
.conndetail table input[type="text"]
{
  width: 100%;
}
.conndetail table .eventname td
{
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 8px;
}
.conndetail .desctiption
{
  width: 100%;
}
.conndetail .desctiption textarea
{
  width: calc(100% - 8px);
  height: 60px;
  resize: vertical;
}
.conndetail .caption,
.adm-newregconn .adm-newregconn-caption
{
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-top: 5px;
  background: transparent;
  color: black;
  /*
  border-bottom: 2px solid black;
  background: rgb(70,160,255); 
  
  */
}
.adm-newregconn .adm-newregconn-caption
{
  background: rgb(70,160,255); 
  color: white;
}

.conndetail .conndetail-tools
{
  padding-left: 5px;    
}
.conndetail .menu
{
  float: right;
  cursor: pointer;
  margin-right: 5px;
}
.conndetail .termdetail-freeterm
{
  text-align: center;
  width: 100%;
  font-size: 30px;      
  /*border: 1px red solid;*/
  /*background: rgb(50,255,50);*/
  /*margin-top: 10px;*/
  color: rgb(200,200,200);  
}
.conndetail-actions
{
  position: fixed;
  background: white;
  border: 1px black solid;
  border-bottom: none;    
  display: none;
}
.conndetail-actions .conndetail-actions-action
{
  border-bottom: 1px black solid;
  padding: 5px;
  cursor: pointer;
}
.conndetail .content
{
  padding: 5px; 
  /*
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  */
}
.conndetail .footer
{
  border-top: 2px solid #000;
  margin-top: 5px;
  padding: 5px;
}
.termdetail-reservation
{
  padding: 5px;
}
.termdetail-reservation .termdetail-reservation-caption
{
  padding: 5px;
  color:white;
  letter-spacing: 1px;
  /*margin-bottom: 5px;*/
  font-size: 16px;
  font-weight: bold;  
}
.termdetail-reservation > table
{
  background: white;
  width: 100%;
  border-collapse: collapse;  
  font-size: 14px;
  white-space: nowrap;
}
.termdetail-reservation > table td
{
  border: 1px solid rgb(150,150,150);    
  padding: 5px;
  vertical-align: top;
}

.termdetail-reservation > table td:first-child
{
  /*
  width: 200px;
  font-weight: bold;
  */
}
.termdetail-reservation > table td:last-child
{
  width: 100%;
}
.termdetail-reservation > table tr:even td
{
  background: rgb(255,240,240);  
}
.termdetail-reservation > table td textarea
{
  width: calc(100% - 5px);
  min-height: 120px;
  resize: vertical;
  margin: 0;
}
.termdetail-reservation > table td textarea.readolny
{
  border: none;
}
.termdetail-reservation > table td textarea.readolny:focus
{
  outline: 0;
}
.termdetail-reservation-errorstack
{
  color: red;
  padding: 5px;
  /*letter-spacing: 1px;*/
  font-weight: bold;
}
input[type=text].nval
{
  background: rgb(255,180,180);
}
input[type=text].nval.fadeoutcolor
{
 background-color: rgb(255,255,255); 
 -webkit-transition: background-color 350ms linear;
    -moz-transition: background-color 350ms linear;
      -o-transition: background-color 350ms linear;
     -ms-transition: background-color 350ms linear;
         transition: background-color 350ms linear;
}
.actiontopform
{
  white-space: nowrap;
  line-height: 20px; 
  height: 25px;
  font-size: 13px;
  display: table;
  width: 100%;
  vertical-align: top;
}
.actiontopform > div
{
  padding: 5px;
  display: table-cell;
  vertical-align: top;
}
.actiontopform > div input[type=checkbox]
{
  vertical-align: top;
  height: 16px;
}
.actiontopform .buttons
{
  width: 10px;
  line-height: 100%;
  white-space: nowrap;  
  vertical-align: top;
}
.delalert
{
  font-weight: bold;
  background: rgb(255,130,100);  
  color: white;  
}
.delalert-buttons
{
  text-align: right;
}
.moveguide,
.timeedit
{
  font-weight: bold;
  background: rgb(255,235,150);    
}
.timeedit .timeinput
{
  margin-left: 5px;
  margin-right: 5px;
}
.termdetail-reservation.drag
{
  -webkit-box-shadow: 2px 2px 5px 0px rgb(100,100,100);
     -moz-box-shadow: 2px 2px 5px 0px rgb(100,100,100);
          box-shadow: 2px 2px 5px 0px rgb(100,100,100);  
  border-radius: 10px;   
  z-index: 1000;
  padding-left: 20px;
  padding-right: 20px;
}
.termdetail-reservation.drag table
{
  /*background: transparent;*/  
}
.termdetail-reservation.drag table td:first-child
{
  font-weight: initial;
  border: 1px solid rgb(230,230,230);
}

.adm-content
{
  background: rgb(240,240,240);
}
.adm-content .adm-upconn
{
  display: table;
  width: 100%;
  height: 100%;
}
.adm-content .adm-upconn > div
{
  display: table-cell; 
}
.adm-content .adm-upconn > div .adm-day-conn
{
  height: 100%;
  width: 100%;
  overflow-y: auto;    
}
.adm-newregconn,
.adm-freeresconn
{
  vertical-align: top;
  background: white;
  border-top: 2px double rgb(130,130,130);
}
.adm-newregconn
{
  border: none;
  border-left: 2px double rgb(130,130,130);
  width: 250px;
  min-width: 250px;
}
.adm-newregconn.floating
{
  position: absolute;
}
.adm-freeresconn .freeresconn-caption
{
  display: block;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid rgb(130,130,130);
  /*
  -webkit-box-shadow: 0 2px 1px 0px rgb(100,100,100);
     -moz-box-shadow: 0 2px 1px 0px rgb(100,100,100);
          box-shadow: 0 2px 1px 0px rgb(100,100,100);
  */
}
.adm-freeresconn .freeresconn-caption .maxminbt
{
  cursor: pointer;
  /*border: red solid 1px;*/
  float: right;  
}
.adm-freeresconn .freeresconn-caption .maxminbt img
{
  height: 15px;
}
.adm-freeresconn .freeresconn-conn
{
  height: 200px; 
  display: block;
  overflow: auto;
}
.adm-freeresconn .resconn
{
  white-space: nowrap;
}
.adm-freeresconn .freeresconn-conn .termdetail-reservation
{
  padding: 0;
  font-size: 12px;
  cursor: pointer;
  margin: 6px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 0px rgb(100,100,100);
     -moz-box-shadow: 0 1px 2px 0px rgb(100,100,100);
          box-shadow: 0 1px 2px 0px rgb(100,100,100);
  width: auto;
}
.adm-freeresconn .freeresconn-conn .termdetail-reservation > *
{
  display: inline-block;
  vertical-align: top;
  
  padding: 5px;
  margin: 0;
}
.adm-freeresconn .freeresconn-conn .termdetail-reservation-caption
{
  padding-top: 9px;
  /*border: 1px red solid;*/
}
.adm-freeresconn .freeresconn-conn .termdetail-reservation table
{
  table-layout: fixed;
  background: transparent;  
  width: auto;
}
.adm-freeresconn .freeresconn-conn .termdetail-reservation table td
{
  background: white;
  width: fit-content;
  font-weight: initial;
  overflow: hidden;
  max-width: 200px;
  font-size: 13px;
}
.adm-freeresconn .freeresconn-conn .header td
{
  font-size: 12px;
  font-weight: bold;
  color: rgb(100,100,100);
  padding: 5px;
  text-align: center;
}
.adm-newregconn
{
  background: rgb(240,240,240);
}
.adm-newregconn  .adm-newregconn-conn
{
  overflow-y: auto;
  overflow-x: hidden;
}
.adm-newregconn .new_registration
{
  border-bottom: 1px solid rgb(130,130,130);  
}
.adm-newregconn .new_registration
{
  background: white;
  padding: 5px;
  cursor: pointer;
}
.adm-newregconn .new_registration .term
{
  font-size: 15px;
  font-weight: bold;  
  padding: 2px;
}
.adm-newregconn .new_registration table
{
  white-space: nowrap;
  width: 100%;
  table-layout: fixed;
  
  text-align: left;
  font-size: 12px;
  /*
  background: rgb(245,245,100);
  border-top: 2px solid rgb(245,245,100);
  width: 100%;
  */
}
.adm-newregconn .new_registration table td
{
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.adm-newregconn .new_registration table td:first-child
{
  width: 40px;
}
.adm-newregconn .new_registration table td:last-child
{
  max-width: calc(100% - 60px);
}
.adm-newregconn .new_registration .created
{
  margin-top: 5px;
}
.adm-newregconn .new_registration .created span:last-child
{
  float: right;  
}
.adm-search
{
  display: inline-block;  
  padding-right: 5px;
  cursor: pointer;
  white-space: nowrap;
  /*
  padding-left: 5px;
  border-left: 3px white solid;
  border-right: 3px white solid;
  margin: 5px;
  margin-left: 0;
  height: 20px;
  */    
}
.search-textbox
{     
  white-space: nowrap;
  margin-top: 2px;
  vertical-align: top;
  display: inline-block;
  background: white;
  height: 22px;
  border: 1px solid gray;
}
.search-textbox > *
{
  display: inline-block;
  vertical-align: top;
}
.search-textbox input
{
  width: 150px;  
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.search-textbox input:focus
{
  outline: 0;
}
.search-textbox img
{
  height: 18px;
  padding: 2px;
}
.conndetail-inhtml .reservations
{
  overflow-y: auto;
  overflow-x: hidden;
  background: transparent;
}
.conndetail-inhtml .reservations .noresfound
{
  text-align: center;
  font-size: 16px;
  padding: 5px;
}
.timelimit
{
  padding-left: 5px;
  height: 35px;
  white-space: nowrap;
  /*
  border-bottom: 1px solid rgb(130,130,130);
  */
}
.timelimit img
{
  float: right;
  margin: 5px;
  cursor: pointer;
}
.timelimit input[type=text]
{  
  padding-left: 5px;
  margin: 5px;
  height: 20px;  
  width: 100px;
}
.conndetail-inhtml .reservations > table
{
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
.conndetail-inhtml .reservations > table th
{
  padding: 5px;
  text-align: left;
  font-size: 14px;
}
.conndetail-inhtml .reservations > table td
{
  padding: 8px;
  font-size: 15px;
  /*
  border-bottom: 1px solid rgb(130,130,130);
  border-top: 1px solid rgb(130,130,130);
  */
}
.conndetail-inhtml .reservations > table td:last-child
{
  font-size: 12px;
}
.conndetail-inhtml .reservations .daycap
{
  padding: 8px;
  padding-bottom: 0;
  font-size: 16px;
  margin-top: 5px;
  border-top: 1px solid rgb(130,130,130);
  font-weight: bold;
}
/*
.conndetail-inhtml .reservations table td:last-child
{
  text-align: right;
}
*/
.open-event-color
{
  background-color: rgb(50,255,50);
}
.full-event-color
{
  background-color: #8cc8ff;
}
.hidden-event-color
{
  background-color: rgb(245,200,50);  
}

.adm-dayevents-view .event.selected
{
  box-shadow: red 0px 0px 0px 2px inset;    
}

.action_bt
{
  background: white;
  border: 1px rgb(150,150,150) solid;
  cursor: pointer;
  text-align: center;
  margin: 0;
  margin-right: 3px;
  font-weight: normal;
  font-size: 13px;
  display: inline-block;
  color: black;
}

.action_bt:hover
{
  background: rgba(220,250,255,1);
}
.action_bt  *
{
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}
.action_bt .textconn
{
  padding-top: 6px;
  border-left: 2px solid rgba(50,50,50,0.2);
}
.action_bt .imgconn
{
  
  height: 25px; 
  padding: 0;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
}
.action_bt img
{
  display: inline-block; 
  height: 20px; 
  padding: 0;
  margin: 0;
}

.confirm
{
  display: block;
  width: 100%;
  height: 30px;
  white-space: nowrap;
}
.confirm > div
{
  padding: 4px;
  display: table-cell;
  line-height: 22px;
}
.confirm .message
{
  width: 100%;
}
.confirm.delete
{
  color: #fff;
  background: #ff8264;
  font-weight: 600;
  letter-spacing: 1px;
}
.confirm.warning
{
  font-weight: 700;
  background: #ffeb96;
}

.conndetail table.langtable
{
  margin: 0;
  padding: 0; 
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
  text-align: left;
}
.conndetail table.langtable td,
.conndetail table.langtable th
{
  padding-left: 8px;
  padding-right: 8px;
}
.conndetail table.langtable td:first-child
{
}
.conndetail table.langtable th:last-child,
.conndetail table.langtable td:last-child
{
  max-width: 50px;
  min-width: 50px;
  text-align: right;
}
.conndetail table.langtable .imgconn
{
  display: inline-block;
  padding: 3px;
}
.conndetail table.langtable .imgconn:not(.disabled)
{
  cursor: pointer;
}
.conndetail table.langtable td:last-child img
{
  height: 20px;
}
.conndetail table.langtable .newlang td:first-child
{
}
.conndetail table.langtable .action_bt
{
  padding: 3px;
}
