
/*
    event overview --------------------------------------------------
*/
.event_owerwiew > div
{
  display: table-cell;
}
.event_owerwiew .time
{
  min-width: 58px;
  padding-right: 5px;
  font-size: 20px;  
}
.event_owerwiew .content
{
  
}

/*
    event detail --------------------------------------------------
*/
.eventdetail > div
{
  display: table-cell;
}
.eventdetail .time
{
  min-width: 58px;
  padding-right: 5px;
  font-size: 20px;  
}
.eventdetail .caption .name
{
  font-size: 15px;  
}

.overview .desctiption textarea
{
  border: none;
  
}
.overview .desctiption textarea:focus
{
  outline: 0;
}

.eventdetail .registarationcaption
{
  border-bottom: 2px solid black;
  
  /*color: white;*/
  padding: 5px;
}
.eventdetail .registarationcaption > *
{
  display: inline-block;  
}
.eventdetail .registarationcaption .cap
{
  font-size: 17px;
  font-weight: bold;
}

/* ------------------REGISTRATIONS ------------------------------------------ */
.registration
{
  border: none;
  border-bottom: 1px solid rgb(130,130,130);
}
.registration .header
{
  background: rgb(160, 220, 255);
  border-bottom: 1px solid rgb(130,130,130);  
  padding: 5px;
  cursor: pointer;
}
.registration .header .caption
{
  font-size: 15px;
}
.registration .content
{
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: inset 0px 11px 8px -10px rgb(150,150,150),
                      inset 0px -11px 8px -10px rgb(150,150,150); 
     -moz-box-shadow: inset 0px 11px 8px -10px rgb(150,150,150),
                      inset 0px -11px 8px -10px rgb(150,150,150); 
          box-shadow: inset 0px 11px 8px -10px rgb(150,150,150),
                      inset 0px -11px 8px -10px rgb(150,150,150); 
}
.registration:last-child .content
{
  -webkit-box-shadow: inset 0px 11px 8px -10px rgb(150,150,150); 
     -moz-box-shadow: inset 0px 11px 8px -10px rgb(150,150,150); 
          box-shadow: inset 0px 11px 8px -10px rgb(150,150,150); 
}
.registration .content > div
{
  padding: 5px;
  margin-left: 20px;
  margin-right: 7px;
}
.registration .content table
{
  
}
.registration .content table td
{
  padding: 4px;
  vertical-align: top;
}
.registration .content textarea
{
  width: 100%;
  min-height: 50px;
  resize: vertical;
}
