
<div class="conndetail registration" isnew="{ISNEW_COL}">
  <form method="post">
    <div class="header">
      <div class="caption">{rgreg_vclfirstname_val} {rgreg_vcllastname_val}</div>
      <div class="overview">
      </div>
    </div>
    <div class="content">
      <div>
        <div class="actions">
           <div class="action_bt ajaxsubmit" ajaxtype="edit"><div class="imgconn"><img src="../img/edit.png"></div><div class="textconn">Upravit</div></div>
          <div class="action_bt ajaxsubmit" ajaxtype="delete"><div class="imgconn"><img src="../img/delete.png"></div><div class="textconn">Vymazat</div></div>
        </div>
        <div class="detail">
          <table>
            <tr>
              <td>Vytvořeno:</td>
              <td>{CREATED_DATE}, {CREATED_TIME}</td>
            </tr>
            <tr>
              <td>Jméno a příjmení:</td>
              <td>{rgreg_vclfirstname_val} {rgreg_vcllastname_val}</td>
            </tr>
            <tr>
              <td>E-mail:</td>
              <td>{rgreg_vclemail_val}</td>
            </tr>
            <tr>
              <td>Telefonní číslo:</td>
              <td>{rgreg_vcltelnumber_val}</td>
            </tr>        
            <tr>
              <td>Poznámka:</td>
              <td></td>
            </tr> 
            <tr>
              <td colspan="2"><textarea readonly maxlength="4000">{rgreg_vtext_val}</textarea></td>
            </tr>
          </table>
        </div>
      </div>            
    </div>
  </form>  
</div>
