
<div class="conndetail registration">
  <form method="post">
    <div class="header">
      <div class="caption">{rgreg_vclfirstname_val} {rgreg_vcllastname_val}</div>
      <div class="overview">
      </div>
      <div class="actions"></div>
    </div>
    <div class="content">
      <div>
        <div class="detail">
          <table>
            <tr>
              <td>Vytvořeno:</td>
              <td>{CREATED_DATE}, {CREATED_TIME}</td>
            </tr>
            <tr>
              <td>Jméno a příjmení:</td>
              <td>{rgreg_vclfirstname_val} {rgreg_vcllastname_val}</td>
            </tr>
            <tr>
              <td>E-mai:</td>
              <td>{rgreg_vclemail_val}</td>
            </tr>
            <tr>
              <td>Telefoní číslo:</td>
              <td>{rgreg_vcltelnumber_val}</td>
            </tr>        
            <tr>
              <td>Poznámka:</td>
              <td></td>
            </tr> 
            <tr>
              <td colspan="2"><textarea readonly maxlength="4000">{rgreg_vtext_val}</textarea></td>
            </tr>
          </table>
        </div>
      </div>            
    </div>
  </form>  
</div>
