input[type=submit]
{
  float: right;
}
.ui-datepicker
{
  width: 400px;
  display: table; 
  background-color: #f0f0f0;
}
.ui-datepicker > div
{
  display: table-cell;
}
.ui-datepicker-group-first .ui-datepicker-calendar
{
  margin-right: 2px;
}
.ui-datepicker-group-last .ui-datepicker-calendar
{
  margin-left: 2px;  
}
.ui-datepicker a
{
  text-decoration: none;
  color: black;
}
.ui-datepicker table
{
  margin: 0px;
  text-align: center;
  border-collapse: collapse;
  cursor: pointer;
}

.ui-datepicker table th
{
  color: black;
  font-size: 15px;
}

.ui-datepicker table td
{  
  color: black;
  padding: 0;
  border: 1px solid rgba(170,170,170,1);
  font-size: 15px;
}


.ui-datepicker .ui-state-default
{
  margin: 0;
  vertical-align: central;
  line-height: 22px;
  display: table-cell;
  width: 39px;
  height: 30px;  
  background: white;
}
.ui-datepicker td .ui-state-active
{
  outline-style: inset;
  outline-color: rgba(255,100,10, 1);
  outline-width: 2px;
}
.ui-datepicker td .ui-state-active
{
  font-weight: bold;
}
.ui-datepicker .ui-state-disabled > *
{
  background-color: rgb(200, 200, 200);
}
.ui-datepicker .ui-datepicker-other-month > *
{
  color: rgb(150,150,150);
}
.ui-datepicker-header
{  
  height: 30px;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: "Myriad Pro", sans-serif; 
  overflow: hidden;
  /*background: rgba(40,130,255,1);*/
  background: rgb(255,80,80);
  /*
  -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,1);
     -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,1);
          box-shadow: 0px 3px 7px -1px rgba(0,0,0,1); 
  */
  color: white;
  margin-bottom: 5px;
  font-weight: initial;
}
.ui-datepicker-header .ui-state-hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}
.ui-datepicker-title
{
  text-align: center;
  line-height: 30px;
  font-weight: normal;
  font-size: 1.1em;
}
.ui-datepicker-prev, .ui-datepicker-next 
{  
  width: 50px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}
.ui-datepicker-prev
{
  float: left;
  
}
.ui-datepicker-next
{
  float: right;
}
.ui-datepicker .ui-datepicker-today > *
{
  background: rgb(250,250,170);
}
.ui-datepicker .ui-datepicker-today.ui-state-disabled > *
{
  background: rgb(230,230,150);
}
.monthview
{
  display: table-cell;
}
.dayview .conn
{
  width: 100%;
}
.dayview .conn .content
{
  font-size: 16px;
  text-align: center;
  padding: 3px;
}
.dayview .conn .content .lang
{
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin: 5px;
  margin-left: 0;
}
.dayview .conn .content table.daycourses
{
  margin: 0;
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}
.dayview .conn .content table.daycourses th
{
  text-align: center;
}
.dayview .conn .content table.daycourses td.time
{
  width: 50px;
  font-size: 15px;
}
.dayview .conn .content table.daycourses td.capacity
{
  width: 80px;
  text-align: left;
  padding-left: 8px;
}
.dayview .conn .content table.daycourses td.language
{
  width: 70px; 
}
.dayview .conn .content table.daycourses td.name
{
  text-align: left;
  padding-left: 10px;
}
.dayview .conn .content table.daycourses tbody tr td
{
  border: 1px dotted white; 
  padding: 2px;
  cursor: pointer;
}
.dayview .conn .content table.daycourses tbody tr:not(.disabled):hover td
{
  background-color: rgba(255,255,100,0.2);
}
.dayview .conn .content table.daycourses tbody tr.disabled td
{
  color: rgb(200,200,200);
  border-color: rgb(200,200,200);
  background-color: rgba(100,100,100,0.6);
  cursor: initial;
}
.dayview .conn .content table.daycourses .course.selected
{
  
  /*border: solid 2px rgba(255,100,10, 1);*/
  /*
  outline-style: inset;
  outline-color: rgba(255,100,10, 1);
  outline-width: 2px;
  */
  background: rgba(255,250,100, 0.5);
  
  /*
  
   -webkit-box-shadow: 0px 0px 0px 2px rgba(255,100,10, 1);
      -moz-box-shadow: 0px 0px 0px 2px rgba(255,100,10, 1);
           box-shadow: 0px 0px 0px 2px rgba(255,100,10, 1);
  */
   
}
.dayview .conn .content-header
{
  color: black;  
  font-weight: bold;
  line-height: 24px;
  margin-top: 3px;
  height: 21px;
  text-align: center;
}

.reg-form table td
{
  white-space: nowrap;
  vertical-align: top;
}
.reg-form table td:last-child
{
  width: 100%;
}
.coursedetail
{
  margin: 8px;
}
.coursedetail .caption
{
  font-size: 15px;
  font-weight: bold;
}
p.error
{
  font-size: 14px;
  color: red;
  font-weight: bold;
}