/* CSS Document */
body {
  font: 13px arial, sans-serif;
  color: white;
  background-color: transparent;
}
h3 {
  font-size: 1.3em;
  margin-left: 5px;

}
.od {
  margin: 10px 0 15px 0;
}
.top {
  vertical-align: top;
}
table {
  color: #fff;
  margin: 15px 0 15px 0;
}
.right {
  float: right;
  font-style: italic;
}
.left {
  float: left;
  font-style: italic;
}
.right a {
  color: #fff;
}
.bt_delete {
  margin-left: 5px;
}
.bt_back{
  margin-left: 10px;
}

.bodyfirst {
  height: 100px;
  xbackground: #ff121a;
  background-image: url(../supp/logo_lekol.png);
  background-repeat: no-repeat;

}
.txleft
{
  text-align: left;
  padding-left: 2px;
}
.txright
{
  text-align: right;
  padding-right: 2px;
}


/*-----------------------------------(choice)tabulka vyber kurzu-dalsi naklady-----------------------------------*/
.up
{
  width: 100%;
  height: 35px;
  border-collapse: collapse;
  text-align: center;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  margin-top: -5px;
}

.up td
{
  border-bottom: 2px solid white;

}

.up td a
{
  text-decoration: none;
  color: white;
}

.up .right
{
  font: 13px arial, sans-serif;
  font-style: italic;
  margin-top: -15px;
}

.up .right a
{
  text-decoration: underline;
}

.up .primbt
{
  cursor: pointer;
  border-bottom-color: transparent;
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-weight: bold;
}

.up .secbt:hover

{
  cursor: pointer;
  text-decoration: underline;
}

.up .upbutton
{
  line-height: 35px;   
}
/*-----------------------------------(choice)rozlozeni stranky-----------------------------------*/

.inpage
{
  max-height: 450px;
  overflow: auto;
}
.choicecart
{
  overflow: auto;
}

.lectorbt
{
  width: 100%;
  height: 20px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}
.lectorbt:hover
{
  text-decoration: underline;
}
.lcCourses table
{
  margin-left: 10px;
  margin-top: 0;
}

.lcCourses
{
  overflow: hidden;
  height: 0px;
}
/*************************************(course) tabulka lekci************************************/

.info table
{
  margin: 0;
  padding: 0;
  table-layout: fixed;
  white-space: nowrap;
}
.info
{
 white-space: nowrap;
 width: 100%;
}
.info td
{
 vertical-align: top;
}
.info td:last-child
{
  width: 100%;
}
/*
.info > tbody > tr:nth-child(even) > td:last-child
{
  background-color: rgba(255,255,255,0.15);  
}
.info > tbody > tr > td > table > tr > td
{
  border: none;
  font-weight: normal;
  text-align: left;
}
*/
.neditarea
{
  resize: vertical;
  width: 100%;
  height: 150px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  border: none;
  max-height: 180px;
  font-size: 15px;
  font-family: sans-serif;

}
.neditarea:focus
{
  outline: 0; 
}
.editarea
{
  resize: vertical;
  width: 100%;
  height: 150px;
  max-height: 180px;
  font-size: 15px;
  font-family: sans-serif;
}

#header
{
  width: 100%;
  display: block;
  height: 70px;
}
  #header a
  {
    text-decoration: none;
    color: black;

  }

  #header .main
  {
   display: block;
   float: left;
 }

    #header .main .content
    {
     height: 100%;
     display: block;
     width: 100%;
     float: left;
    }

      #header .main .content .pagecaption
      {
        display: block;
        height: 50%;
        font-size: 1.5em;
        margin-left: 5px;
        font-weight: bold;
      }       

      #header .main .content .navcards
      {
        display: block;
        height: 50%;
      }
        #header .main .content .navcards .cardline
        {
          display: block;
          white-space: nowrap;
        }
          #header .main .content .navcards .cardline .card
          {
            font-weight: bold;
            position: relative;
            top: 1px;
            color: white;
            display: inline-block;
            border: white 1px solid;
            height: 30px;
            width: 100px;
            line-height: 30px;
            text-align: center;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            margin-left: 0px;
            border-bottom: none;
          }

          #header .main .content .navcards .cardline .selected
          {
            top: 0px;
            height: 35px;
            line-height: 35px;
            width: 105px;
            background: rgba(255,255,255,0.2);
          }

          #header .main .content .navcards .cardline .card:not(.selected):hover
          {
            background-color: rgba(240,240,255,0.4);
          }

  #header #userinfo
  {
    display: block;
    margin: 0;
    padding: 0;
    float: right;
    font-size: 0.9em;
  }

    #header #userinfo table
    {
      font-size: 1.0em;
      white-space: nowrap;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      padding-right: 10px;
    }

    #header #userinfo a
    {
      text-decoration: underline;
      font-size: 1.0em;
      float: right;
      color: white;
      padding-right: 8px;
    }


#pgbody
{
  border-top: 1px white solid;
}

.mtable table
{
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse:  collapse;
  text-align: center;
  font-size: 1.1em;
}
.mtable .head
{
  padding: 0;
  text-align: center;
  font-weight: bold;
  border: white 1px solid;
}

.mtable .mtbody
{
  border-top: white 1px solid;
  max-height: 410px;
  overflow: auto;
}
.mtable .row td
{
  border: white 1px;
  border-style: dotted;
  border-top: none;
}
.mtable td:not(.last)
{
  white-space: nowrap;
}

.row .last
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: auto;
  max-height: 50px;
}
.mtable table:not(.head):hover
{
  background-color: rgba(170,230,255,0.3);
  cursor: pointer;
}

.rolecaption
{
  text-align: left;
  width: 100%;
  font-size: 1.5em;
}
a
{
  text-decoration: none;
}

.rolechoice
{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: white;  
  margin-top: 8px;
}
.rolechoice:hover
{
  text-decoration: underline;
  text-decoration-color: white;
}

.testtype
{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 8px;  
}

button, input[type=submit]
{  
  border-radius: 1px;
  background-color: white;
  border: none;
  color: black;
  font-family: sans-serif;
  box-shadow: black 1px 2px 3px; 
  -webkit-box-shadow: black 1px 2px 3px;
  -moz-box-shadow: black 1px 2px 3px;  
  min-height: 20px;
  line-height: 100%;
}
button:focus, input[type=submit]:focus
{  
  outline: none;
}
button:hover, input[type=submit]:hover
{  
  position: relative;
  top: 1px;
}
/*
.ctable
{
  margin-top: 10px;
}
*/
.ctable .row
{
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.ctable .row td.c1
{
  width: 80px;
}

.ctable .row td.c3
{
  width: 80px;
}
.ctable .row td.c2
{
  width: 250px;
}

.ctable.finished
{
  margin-top: 10px;
}
.ctable.finished .row
{
  color: rgba(200,200,200,1);
}
.ctable .row:hover
{
  background-color: rgba(170,230,255,0.3);
  cursor: pointer;
}
.lccon .row
{  
  margin-left: 10px;
}

.crstable table
{
  text-align: center;
  width: 50%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.crstable table.head
{
  font-weight: bold;
  border-bottom: 1px white solid;  
}

#monthselect
{
  display: none;
  position: fixed;
  border-radius: 1px;
  background-color: white;
  border: none;
  color: black;
  font-family: sans-serif;
  min-height: 20px;
  line-height: 100%;
  
}

#monthselect .month
{
  cursor: pointer;
  padding: 8px;
  font-size: 15px;  
}

#monthselect .month:hover
{
  background: rgba(100, 160, 255, 0.2); 
}

.crprform .months table
{
  border-collapse: collapse;
}
.crprform .months table tr td:first-child
{
  border-right: 2px white solid;
  padding-right: 3px;
}
.crprform .months table tr td:not(:first-child) > div
{
  color: black;
  width: 30px;
  margin: 1px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  background-color: white;
  border: 1px rgba(150, 150, 150, 1) solid;
  box-shadow: black 1px 2px 3px;
  -webkit-box-shadow: black 1px 2px 3px;
  -moz-box-shadow: black 1px 2px 3px;
}
.crprform .months .monthnum
{ 
  font-size: 18px;
}
.crprform .months .monthnum.selected
{ 
  background-color: rgba(250,250,200,1);  
  border: none;
  margin:  2px;
}
.crprform .months .monthnum.selected .monthname
{
  font-weight: bold;
  color: white;
}
.crprform .months .monthname
{ 
  font-size: 13px;
  background: rgba(250,150,130,1);
}
