
* {
padding: 0;
margin: 0;
}

body {
background-color: #1C3742;
}

#wrap {
font-family: Verdana;
/*
font-family: Calibri;
*/
width: 960px;
margin: 0 auto;
margin-top: 0px;
margin-bottom: 20px;
padding-bottom: 40px;
_background-color: #FFFFC0;
background-color: #FFFFFF;
background-image: url("../img/foto_side.jpg");
background-repeat: no-repeat;
background-position: right top;
min-height: 600px;
}

#wave {
width: 960px;
position: absolute;
_margin-top: 0px;
padding-bottom: 30px;
}

#tit {
height: 30px;
position: absolute;
margin-left: 60px;
margin-top: 44px;
}

#_foto_side {
width: 250px;
position: absolute;
margin-left: 700px;
margin-top: -190px;
}

#logo_pac {
z-index: 2;
width: 200px;
position: absolute;
margin-left: 555px;
margin-top: 10px;
}

#maintx {
/*xCalibri;*/
padding-top: 185px;
_margin-bottom: 20px;
margin-left: 30px;
margin-right: 325px;
margin-bottom: 10px;
_background-color: #FFFFFF;
}

#maintx > div {
font-size: 15px;
padding-bottom: 10px;
/*
font-family: Verdana;
padding-bottom: 10px;
font-size: 16px;
*/
}

.floatmenudiv { 
  position: fixed;  /* tells browser to display div in a fixed position */ 
  bottom: 0px;  /* tells browser the div should position at the very bottom of the window */ 
  right: 0px;  /* tells the browser the div should have no space on the right */ 
  left: 0px;  /* tells the browser the div should have no space on the left */ 
  margin: 0px; /* because we want this width: 100%, the margin must be 0 */ 
  padding: 0px; /* because we want the width: 100%, the padding must be 0 */ 
  width: 100%; /* makes the div a bar stretching across the bottom of the screen */ 
  height: 55px; /* makes the floating bar 35 pixels high */
  z-index: 9999; /*positions this div on top of all other elements in the site - this number can increase or decrease to your liking */ 

  color: white;
  background-color: #1C3742;
}

#bottommenu
{
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

#bottommenu a
{
  color: white;
  text-decoration: none;
  font-family: Verdana;
  font-size: 18px;
}
.paragraph
{
  margin-bottom: 10px;
}
.paragraph .cap
{
  font-weight: bold;  
  /*
  background: rgba(26, 144 ,169,1);
  color: white;
  */
  z-index: 3;
  position: relative;
  background: rgba(26, 144 ,169,1);
  color: white;
  line-height: 20px;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
  /*
  width: calc(100% - 50px);
  background-image: 
    -webkit-gradient(
      linear, center top, right top, from(rgba(26, 144 ,169,1)),
      to(rgba(255, 255, 255, 0))
    );
  */
}
.paragraph .content
{
  margin-left: 15px;
  display: none;
}
.paragraph .content table
{
  white-space: nowrap;
  margin-bottom: 5px;
}
.paragraph .content table td
{
  padding-right: 10px;
}
.smalltext
{
  font-size: 13px;
}
.greenbold
{
  font-weight: bold;
  color: rgba(16, 134 ,179,1);    
}
h4
{
  margin-top: 8px;
}
