
<div class="conndetail eventdetail">
  <form method="post">
    <div class="caption">Událost: {FROM_DATE} : {FROM_TIME} ({FROM_DAY})</div>
    <div class="content">
      <table>        
        <tr>
          <td>Kapacita:</td>
          <td>{{CAPACITY_COL}_val}</td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <button class="ajaxsubmit" ajaxtype="submitdata">Potvrdit</button>
      <button class="ajaxsubmit" ajaxtype="close">Zrušit</button>
    </div>
  </form>  
</div>
