
<div class="conndetail eventdetail">
  <form method="post">
    <div class="caption">
      <div>
        <div>{{NAME_COL}_val}</div> 
        <div>zahájení: {FROM_TIME}, {FROM_DATE} ({FROM_DAY})</div>
      </div>
      <div class="menu">
        <div class="action_bt ajaxsubmit" ajaxtype="edit"><div class="imgconn"><img src="../img/edit.png"></div><div class="textconn">Upravit</div></div>
        <div class="action_bt ajaxsubmit" ajaxtype="delete"><div class="imgconn"><img src="../img/delete.png"></div><div class="textconn">Vymazat</div></div>
      </div>
    </div>
    <hr/>
    <div class="content overview">
      <div><b>Jazyk:</b> {LANGUAGE_TEXT}</div>
      <div class="desctiption"> 
        <div class="cap">Popis:</div>
        <div>{{DESC_COL}_val}</div> 
      </div>
    </div>
    <div class="action_bt ajaxsubmit" ajaxtype="newregistration"><div class="imgconn"><img src="../img/new.png"></div><div class="textconn">Vytvořit registraci</div></div>
    <div class="registarationcaption">
      <div class="cap">Registrováno: {CAPACITY_STATUS}</div>     
    </div>
    <div class="registrationconn"></div>
  </form>  
</div>